nav{
    width: 70%;
    margin: auto;
}

.shop{
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
    text-align: center;
    background-color: rgb(43, 41, 41);
    font-size: 130%;
}

.shop h1{
    font-weight: bold;
    font-size: 200%;
}